<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance http://www.springmodules.org/schema/cache/springmodules-cache.xsd http://www.springmodules.org/schema/cache/springmodules-ehcache.xsd" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AreTalkFM</display-name>
  <welcome-file-list>
    <welcome-file>sign-in.html</welcome-file>
    <welcome-file>sign-in.html</welcome-file>
    <welcome-file>sign-in.html</welcome-file>
    <welcome-file>sign-in.html</welcome-file>
    <welcome-file>sign-in.html</welcome-file>
    <welcome-file>sign-in.html</welcome-file>
  </welcome-file-list>

<error-page>  
    <error-code>403</error-code>  
    <location>/403.html</location>  
</error-page>  
    
  <error-page>  
    <error-code>404</error-code>  
    <location>/404.html</location>  
</error-page>  
  
<error-page>  
    <error-code>500</error-code>  
    <location>/500.html</location>      
</error-page> 

<error-page>  
    <error-code>503</error-code>  
    <location>/503.html</location>      
</error-page>

  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>
  org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
  </filter-class>
  </filter>
  <filter>
		<filter-name>crossOriginFilter</filter-name>
		<filter-class>server.api.util.CrossOriginFilter</filter-class>
		<init-param>
			<param-name>AccessControlAllowOrigin</param-name>
			<param-value>*</param-value>
		</init-param>
		<init-param>
			<param-name>AccessControlAllowMethods</param-name>
			<param-value>POST, GET, DELETE, PUT</param-value>
		</init-param>
		<init-param>
			<param-name>AccessControlMaxAge</param-name>
			<param-value>3628800</param-value>
		</init-param>
		<init-param>
			<param-name>AccessControlAllowHeaders</param-name>
			<param-value>x-requested-with</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>crossOriginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  <servlet>
		<servlet-name>UploadHandleServlet</servlet-name>
		<servlet-class>server.api.servlet.fm.UploadHandleServlet</servlet-class>
	</servlet>
	 
	<servlet-mapping>
		<servlet-name>UploadHandleServlet</servlet-name>
		<url-pattern>/Servlet/UploadHandleServlet</url-pattern>
	</servlet-mapping>
  
 <filter-mapping>
		<!-- 配置Struts2的核心FilterDispatcher拦截所有用户请求 -->
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
  
	<session-config>
    <session-timeout>60</session-timeout>
    </session-config>
   
   
   
   
    <!-- <listener>   
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>   
</listener>  -->  
    
</web-app>